@charset "UTF-8";
div.titulo{
    display: flex;
    padding: 8px;
    height: 100px;
    background-color: aquamarine;
   flex-flow: column wrap-reverse;

}
div.item{
    background-color: aliceblue;
    border: 1px solid black;
    flex: auto;

}

