@charset "UTF8";
body{
    background-image: linear-gradient( to left, green,yellow);
}
h1:hover{
    background-color: black;
}
h2{
padding: 0%;
}
div{
    display: inline-block;
    background-color: rgb(141, 148, 148);
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}
div:hover{
    background-color: brown;
}
