@charset "UTF-8";
div.titulo{
    display: flex;
     background-color: aquamarine;
    flex-flow: nowrap row;
}
div.item{
    background-color: aliceblue;
    border: 1px solid black;
    text-align: center;
    flex-basis: 300px;

}
#cax1{
    flex-grow:1;
    flex-shrink: 3;

}
#cax2{
    flex-grow:1;
    flex-shrink: 0;
}
#cax3{
    flex-grow:1;
    flex-shrink: 1;
}

